body{
    background-color: var(--colorLight);
}
body>main{
    padding: var(--padLrg);
    max-width: 1400px;
}
body>main>header{
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: var(--padLrg);
}
body>main>*+*{
    margin-top: var(--padMed);
}
p{
    font-size: var(--fontSml);
}
