body{
    background-color: var(--colorLight);
}
body>main{
    padding: var(--padLrg);
    max-width: 1400px;
}

body>main>*+*{
    margin-top: var(--padMed);
}
p{
    font-size: var(--fontSml);
}
input{
    display: block;
}
label{
    display: block;
}